<?xml version="1.0"?>
<config>
    <modules>
        <Eshop_Wordpress>
            <version>0.0.1</version>
        </Eshop_Wordpress>
    </modules>
    <global>
        <helpers>
            <eshop_wordpress>
                <class>Eshop_Wordpress_Helper</class>
            </eshop_wordpress>
        </helpers>
        <blocks>
            <eshop_wordpress>
                <class>Eshop_Wordpress_Block</class>
            </eshop_wordpress>
        </blocks>
        <models>
            <eshop_wordpress>
                <class>Eshop_Wordpress_Model</class>
            </eshop_wordpress>
        </models>
    </global>
    <frontend>
        <!--layout>
            <updates>
                <eshopwordpress>
                    <file>eshop_wordpress.xml</file>
                </eshopwordpress>
            </updates>
        </layout-->
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <wordpress_options>
                                            <title>Eshop Wordpress</title>
                                        </wordpress_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <Eshop_Blog>
                <schedule>
                    <cron_expr>0 23 * * *</cron_expr>
                </schedule>
                <run>
                    <model>eshop_wordpress/cron::constructblog</model>
                </run>
            </Eshop_Blog>
        </jobs>
    </crontab>
</config>
